*.pyc
*~
*.egg-info
__pycache__/
_build/
build/
dist/
*.eggs
MANIFEST
venv/
GhidraRetypd/lib/
GhidraRetypd/build/
GhidraRetypd/bin/
GhidraRetypd/log.txt
GhidraRetypd/.classpath
GhidraRetypd/.gradle
.vscode/
*.zip
